extends ../shared/template

block content
  h1= title

  form(action='/login', method='post')
    input(type='email', name='email', autofocus=true, placeholder='Email')
    input(type='password', name='password', placeholder='Password')
    button.button Authenticate
